/*
3. GENERIC:

Ground Zero stylesGround Zero styles --> CSS Resets, normalizations, global box-sizing rules, etc.

The Generic layer is the first one that
actually produces any CSS. It houses very high-level,
far reaching styles. This layer is seldom modified,
and is usually the same across any projects you work on.
It contains things like Normalize.css, global box-sizing rules,
CSS resets and so on. The Generic layer affects a lot of the DOM,
hence it being nice and wide in the Triangle model, and
occurring very early on.
*/

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  //background-color: $bg-color;
  /* This makes sure that when on top, and scrolling up,
  or on bottom, and scrolling down, you see the same
  color as the color in the top/bottom pixel of our web
  */
  background: linear-gradient(
    0deg,
    $landing-bg-top-color 10%,
    $footer-bg-color 90%
  );
}

/*
//If there's an aside, this is useful!
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
*/

footer {
  margin-top: auto;
  padding-bottom: 15px;
  background-color: $footer-bg-color;
}
